.search{
    width: 70%;
    margin-left: 15%;
}

.btn{
    background: rgba(100, 0, 0, .9);
    color: white;
}

.btn:hover{
    color: rgb(175, 174, 174);
}

.search-bar{
    margin-bottom: 5px;
}

@media only screen and (max-width: 500px){
    .search{
        margin-left: 5%;
        width: 90%;
    }
  }